---
layout: default
---
<div class="post">
  <h1 class="post-title">{{ page.index }}. {{ page.title }}</h1>
  <span class="post-date">《{{ page.category }}》</span>
  {{ content }}
</div>

<div class="pagination">
  {% if page.next %}
    <a class="pagination-item older" href="{{ site.url }}{{ page.next.url }}">Next ({{ page.next.index }})</a>
  {% else %}
    <span class="pagination-item older">Next</span>
  {% endif %}
  {% if page.previous %}
    <a class="pagination-item newer" href="{{ site.url }}{{ page.previous.url }}">Previous ({{ page.previous.index }})</a>
  {% else %}
    <span class="pagination-item newer">Previous</span>
  {% endif %}
</div>

<div class="comments">
    {% include comments.html %}
</div>
